/* место для вашего кода */

/*начало стилей для хедера*/
.header {
  padding: 92px 50px 96px;
 /* padding-left: 50px;
  padding-right: 50px;*/
  display: grid;
  grid-template-columns: 1fr 148px 1fr; /*148px - размер контейнера логотипа*/
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.header__menu {
padding-top: 5px;
}

.header__links-list {
display:flex;
gap: 32px;
list-style: circle;

}

.header__links-list-item {
  border-bottom: solid 1px black ;
}

.header__links-list-item_no-bullit {
list-style: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  object-fit:fill;
  height: 105px;
}

.address {
  font-style: normal;
  line-height: 24px;
  list-style: none;
  width: 240px;
  
}

.header__address {
  display: block;
  justify-self: end;
  padding-top: 3px; 
}

/*конец стилей для хедера*/

/*начало стилей cover*/

.cover {
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  
}

.cover__title {
  display:grid;
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {

}

.aligned-text_center {
justify-self: center;
}

.aligned-text_right {
justify-self: end;
}

/*конец стилей cover*/


.lots {

}

.about {

}

.footer {

}