/* место для вашего кода */

/*начало стилей для хедера*/
.header {
  margin-top: 92px;
  margin-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: space-between;
  align-items: center;
  font-size: 18px;
}

.header__menu {
  padding-top: 5px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  border-bottom: solid 1px black;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  object-fit: fill;
  height: 105px;
}

.address {
  display: block;
  font-style: normal;
  line-height: 24px;
  list-style: none;
  width: 240px;
  padding-top: 3px;
}

.header__address {
  justify-self: end;
}

/*конец стилей для хедера*/

/*начало стилей cover*/

.cover {
  padding: 165px 50px 50px;
  display: grid;
  grid-template-rows: 1fr 50px;
  gap: 125px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover__title {
  display: grid;
  gap: 6px;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr 256px;
  padding-left: 28px;
  align-items: center;
  z-index: 1;
}

.cover__description-text {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.84em;
  line-height: 28px;
}

.bet-button {
  height: 51px;
  width: 256px;
  background: none;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: white;
  border: solid 1px currentColor;
  font-size: 22px;
}

/*конец стилей cover*/

/*начало стилей lots*/

.lots {
  padding-top: 180px;
  padding-bottom: 146px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.lots__card-list {
  margin-top: 27px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  display: grid;
  padding: 51px 40px 48px;
  position: relative;
  width: 334px;
  min-height: 563px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images//card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.card__text {
  z-index: 1;
  align-self: end;
  color: white;
  font-size: 20px;
  line-height: 1.2em;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  border-bottom: solid 1px black;
  color: black;
  font-size: 20px;
}

/*конец стилей lots*/

/*начало стилей about*/

.about {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 180px;
  padding-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1rf;
  grid-template-areas: "about__logo about__column about__column";
  gap: 25px;
}

.about__logo {
  justify-self: center;
  display: grid;
  grid-area: about__logo;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  align-self: center;
  justify-self: center;
  width: 148px;
}

.about__column {
  margin-top: 101px;
  grid-area: about__column;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.about__text {
  margin-top: 24px;
  color: black;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.003em;
}

.about__text:first-child {
  margin-top: 0;
}

/*конец стилей about*/

/*начало стилей footer*/
.footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-between;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3px;
  list-style: none;
}

.footer__menu-list-item {
  border-bottom: solid 1px black;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/*конец стилей footer*/
